@model IEnumerable<_19_Atividade_CRUD.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Categorias</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark ">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoriaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopse)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoriaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopse)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoriaId" class="btn btn-outline-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoriaId" class="btn btn-outline-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoriaId" class="btn btn-outline-secondary">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
